/*-----------
--VARIABLES--
-----------*/
/*Font*/
$sans: 'Avenir', Helvetica, Arial, sans-serif;
$ink: #212B35; 
$ink-lightest: #919EAB;
$ink-light: #454F5B;
$font-size: 18px;
$line-height: $font-size * 1.5;
$header-height: $font-size * 2;

/*Colors*/
/*Indigo */
$indigo-lighter: #F4F5FA;
$indigo-light: #B3BCF5;
$indigo: #5C6AC4;
$indigo-dark: #202E78;
$indigo-darker: #000639;
$indigo-text: #3e4155;
  /*Teal  (Helpful Info, Secondary Color, Secondary Graph)*/
$teal: #47C1BF;
$teal-lighter: #E0F5F5;
$teal-light: #B7ECEC;
$teal-dark: #00848E;
$teal-darker: #003135;
$teal-text: #405352;

  /*Green (Success Tips)*/
$green: #50B83C;
$green-lighter:#E3F1DF;
$green-light:#BBE5B3;
$green-dark:#108043;
$green-darker: #173630;
$green-text: #414F3E;

/*Blue (Text Links / Brand Color)*/
$blue: #007ACE;
$blue-lighter: #B4E1FA;
$blue-light: #B4E1FA;
$blue-dark: #084E8A;
$blue-darker: #001429;
$blue-text: #3E4E57;

/*Red (Errors, Critical Tips)*/
$red: #ED6347;
$red-ligher: #FBEAE5;
$red-light: #FEAF9A;
$red-dark: #BF0711;
$red-darker: #330101;
$red-text: #583C35;

/*Purple (Graphing)*/
$purple: #9C6ADE;
$purple-lighter: #F6F0FD;
$purple-light: #E3D0FF;
$purple-dark: #50248F;
$purple-darker: #230051;
$purple-text: #50495A;

/*Greys (Shadows)*/
$grey: #DFE4E8;
$grey-lighter: #F9FAFB;
$grey-light: #F4F6F8;
$grey-dark: #C4CDD5;

/*Spacing*/
$spacing-unit: 30px;

@mixin component{
  background: white;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 2px 2px 5px $grey-dark;
}


/*RESETS*/
html, body {
  background-color: $grey;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, a {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: $header-height
}

h2 {
  font-size: 30px;
  line-height: $header-height
}

h3 {
  font-size: 24px;
  line-height: $header-height
}

ul {
  padding: 0;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: lighten($blue, 15%);
  }
}


dt {
  font-weight: 600;
  line-height: $header-height;
}

dd {
  font-size: .9rem;
  margin:0;
  padding: 0;
}


/*UTILITY*/
button {
  color: $indigo-lighter;
  background-color: $indigo;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  text-decoration: none;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px var(--grey-dark);
  cursor: pointer;
}

button:hover {
  background-color: $indigo-dark;
}

input, textarea {
  color: $ink;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  border: 1px solid $grey;
}

.seperator {
  width: calc(100% - 20px);
  border-bottom: 1px solid $grey;
  margin: 20px auto;

}

/*font-awesome reset*/
.fa-icon {
  color: $ink;
  width: auto;
  height: 1.2em;
}

.fa-icon:hover {
  color: $ink;
}